Backend/*.log
Backend/logs
Backend/.env
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/pnpm-debug.log*
Backend/lerna-debug.log*
Backend/controller/promt.controller.js

Backend/node_modules
Backend/dist
Backend/dist-ssr
Backend/*.local

# Editor directories and files
Backend/!.vscode/extensions.json
Backend/.idea
Backend/.DS_Store
Backend/*.suo
Backend/*.ntvs*
Backend/*.njsproj
Backend/*.sln
Backend/*.sw?

frontend/*.log
frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local


# Editor directories and files
.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

